*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contenedor {
    margin: 20px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-auto-flow: column;
    gap: 20px;
    

}

.item {
    padding: 5px;
    display: flex;
    border: 5px solid #222222;
    font-size: 3rem;
    color: #ffff;
    justify-content: flex-end;
    align-items: end;
}
.greenlight {
    background-color: #a5d500 ;
}
.greenmid {
    background-color: #367200;
}
.darkgreen {
    background-color: #215d1b;
}