@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --purple: #260064;
  --blue: #003B97;
  --blue-soft: #0067B9;
  --blueprint: #0090C8;
  --bluepet: #00B8CA;
  --greenpy: #20DEC6;
  
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "card-1 card-2"
    "card-1 card-3";
  background:grey;
  width: 220px;
  height: 220px;
  border: 2px solid white;
}
.item {
  color:white;
  font-size: 50px;
  background: blue;
}
.item-one {
  background: green;
  grid-area: card-1;
}
.item-two {
  background: orange;
  grid-area: card-2;
}
.item-three {
  background:blue;
  grid-area: card-3;
}
